<div id="comment_by_public">
    <tr>
  
        <td>Commented By:</td>
        <td width="3%"></td>
        <td><%=h @comment.name %></td>
   
    </tr>   
    <tr>
      
      <td>Comment as:</td>
        <td width="3%"></td>
        <td><%=h @comment.body %></td>
      
    </tr>
  </div>

