<div id="asd"><h1>It's Pravin Mishra</h1></div>

<table>
  
  <tr>
    <td><img src="../images/pravin_proff.JPG" width="200", height=300"></td>
  </tr>
  
  <tr>
   <td>Web Designer and Developer</td>
  </tr>
  
  <tr>
   <td>PHP,JOOMLA and RUBY ON RAILS</br>
        Email:-pravinmishra88@gmail.com</br>
        Phone:+91-9749448334</br>
</td>
  </tr>
  
  <tr>
   <td>http://www.blogger.com/profile/00929431348415076146</br>
          http://www.facebook.com/profile.php?id=100000974421554</br>
          http://www.linkedin.com/profile/view?id=37465834&trk=tab_pro
   </td>
  </tr>

</table>