<h3>My self PRAVIN MISHRA. I am graduate(B. Tech) from DIATM( Durgapur Institute of Advanced Technology & Management) and my field of specialization is INFORMATION TECHNOLOGY. As a web developer i have 9 month experience on PHP/MYSQL. Currently i am learning RUBY ON RAILS and developing this project.</h3>
<h4>Basically in this project i emphasis on hard code of RUBY ON RAILS like <font color="red"> ajax implementation, voting system, multiple photo upload, create blog, comment on blog using ajax, send mail, send SMS, upload excel file data into mysql, download file and vedio upload etc.      
</font></h4>

<h2><i><u><%= link_to "Download My C.V." ,:action => :download, :file_name => 'Pravin_CV_EXP-IT.doc' %></u></i></h2> 