
<fieldset>
        <legend><div id="asd"><h3><i>Follow this link</i></h3></div></legend>
<%= link_to 'http://jimneath.org/2008/06/03/converting-videos-with-rails-converting-the-video.html' %>
</fieldset>